<a href="https://colab.research.google.com/github/sherwoodforest98/DFEDATA6-PJS1/blob/main/NOSQL_practice_Mongo_Cosmos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# PLEASE DO NOT CHANGE THIS LINE
import pymongo
connectionString = "mongodb://asteroid:qeqpcXHLl1NDTOsnAjH0X8ZkAWgEVUYiusxnjGKgAsc4fKnujvSOOBTdFNYoXFLUs4BFGweeKN1fFZKukehPSA==@asteroid.mongo.cosmos.azure.com:10255/?ssl=true&retrywrites=false&replicaSet=globaldb&maxIdleTimeMS=120000&appName=@asteroid@"
client = pymongo.MongoClient(connectionString)

In [2]:
mydb = client["monkeybar"] # PLEASE DO NOT CHANGE THIS LINE

In [3]:
mycol = mydb["Nottingham"] # Change collection name 'fish' to anything else that you like!

In [4]:
mydict = { "name": "Brian", "address": "St Annes" }

x = mycol.insert_one(mydict)

In [15]:
mydict = { "name": "Trent", "age": 36 }

x = mycol.insert_one(mydict)

In [14]:
r2 = { "name": "Trent", "Mapperley": mydict , "subjects":["eng","fr","gt"]}

x = mycol.insert_one(r2)

In [16]:
# MongoDB-> Document Database 
for x in mycol.find():
  print(x)

{'_id': ObjectId('6213af38906fb79ddf505c75'), 'name': 'Brian', 'address': 'St Annes'}
{'_id': ObjectId('6213af4a906fb79ddf505c76'), 'name': 'Trent', 'age': 30}
{'_id': ObjectId('6213af61906fb79ddf505c77'), 'name': 'Trent', 'complex': {'name': 'Trent', 'age': 30, '_id': ObjectId('6213af4a906fb79ddf505c76')}, 'subjects': ['eng', 'fr', 'gt']}
{'_id': ObjectId('6213b1fb906fb79ddf505c78'), 'name': 'Trent', 'Mapperley': {'name': 'Trent', 'age': 30, '_id': ObjectId('6213af4a906fb79ddf505c76')}, 'subjects': ['eng', 'fr', 'gt']}
{'_id': ObjectId('6213b203906fb79ddf505c79'), 'name': 'Trent', 'age': 36}

In [18]:
for x in mycol.find({"name":"Trent", "age":30}).limit(1):
  print(x)

{'_id': ObjectId('6213af4a906fb79ddf505c76'), 'name': 'Trent', 'age': 30}

In [24]:
myquery = { "address": { "$regex": "s$" } } # for example, this is a 
# regular expression that ends with letter 'p'

mydoc = mycol.find(myquery)

for x in mydoc:
  print(x)

{'_id': ObjectId('6213af38906fb79ddf505c75'), 'name': 'Brian', 'address': 'St Annes'}